.nav-top {
     background-color: red !important;
     position: fixed !important;
     top: 0 !important;
     z-index: 1000;
     width: 100% ;
  }

.btn-sm {
    border-radius: 24px;
    background-color: yellow;
}


.middle-nav  {
    padding-top: 110px !important;
    position: relative;
}

.middle-nav li a {
   color: black;
   font-size: 17px;
 
}
.middle-nav input{
width: 80px;
margin-right: 60px;
}
.search {
    position: absolute;
    right: 65px;
    top: 115px;
}
.nav-bottom {
    width: 1100px;
}
.nav-bottom li a{
   
    line-height: 24px;
    color: #807f84;
    font-size: 16px;
}
.form-width {
    border: none;
    
}
.nav-bottom li a{
    font-size: 14px;
    font: 18px/18px "Roboto Condensed",sans-serif;
    color: #807f84;
  
}


.hover-red:hover{
    color: red;
}#Layer_1{
     width: 400px; 
    height: 100%;
   fill: white;
}
.countries img,
.my-turn img,.width-100 {
    width: 100%;
    /* height: auto; */
}
.sign-1 {
    background-color: rgb(238, 235, 235);
    width: 275px;
}
.sign-1 input{
width: 245px;
}
.try {
    margin-left: 0 !important;
}
.sign-1-btn {
    width: 250px;
    background-color: rgb(245, 17, 17);
    border: 3px solid red;
    border-radius: 2px;
}
.rgb-c {
    position: relative;
  
}
.background-grey {
    background-color: rgb(243, 242, 242);
}
.text-red {
    color: red;
}
.color-black {
    font-size: 20px;
    color: black;
}
.on-rgb {
    position: absolute;
    left: -250px;
    top: 10px;
 
}
.sb {
    width: 120px;
    background-color: rgb(248, 19, 19);
    border-radius: 2px;
    border: 2px solid red;
}
@media (max-width:1000px) {
    #Layer_1 {
        width: 120px;
    }
}
